[Desktop Entry]
Name=Airsnort
Exec=airsnort
StartupNotify=false
X-Enlightenment-WaitExit=false
StartupWMClass=Airsnort
Icon=airsnort
Type=Application
