[Desktop Entry]
Name=arachni
GenericName=
Exec=/bin/sh -c "/usr/bin/launch '/usr/sbin/arachni' '--help' 'sudo -s'"
Icon=scanner
Type=Application
Terminal=true
