[Desktop Entry]
Name=BlueSniff
Exec=P2TERM -e /opt/pentoo/bin/bluesniff/bluesniff.pl
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=stock_bluetooth
Type=Application
