[Desktop Entry]
Name=DriftNet
Exec=driftnet
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/image-viewer.png
Type=Application
