[Desktop Entry]
Name=fern-wifi-cracker
GenericName=
Exec=sudo -E /usr/sbin/fern-wifi-cracker
Type=Application
Icon=fern-wifi-cracker
Categories=Pentoo;X-Mitm;
