[Desktop Entry]
Name=IPSorcery
Exec=/bin/sh -c "/usr/bin/launch '/usr/sbin/ipmagic' '-h' 'bash -l'"
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=gnome-squeak
Type=Application
Terminal=true