[Desktop Entry]
Name=Kismet
GenericName=curses
Exec=P2TERM -e launch sh /usr/share/genmenu/scripts/kismet
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=kismet
Type=Application
