[Desktop Entry]
Name=Multimode
Type=Application
Exec=/bin/sh -c "/usr/bin/launch '/usr/lib/uhd' 'bash -l'"
Icon=/usr/share/genmenu/pixmaps/rce.png
Terminal=true
