[Desktop Entry]
Name=Nmap GUI
Exec=nmapsi4
StartupNotify=false
X-Enlightenment-WaitExit=false
StartupWMClass=nmapsi4
Icon=/usr/share/genmenu/pixmaps/nmap-logo-64.png
Type=Application
