[Desktop Entry]
Name=Privoxy - TOR
Exec=P2TERM -e launch sh /usr/share/genmenu/scripts/privoxy-tor
Icon=/usr/share/genmenu/pixmaps/proxy.png
Type=Application
