[Desktop Entry]
Name=Switch to madwifi
GenericName=
Exec=P2TERM -e launch athload madwifi
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=wireless
Type=Application
