[Desktop Entry]
Version=1.0
Type=Application
Exec=sudo /usr/sbin/toggle_hardened
Icon=changes-allow
StartupNotify=false
Categories=X-Folders;
OnlyShowIn=XFCE
Name=toggle_hardened
Comment={En,Dis}able PaX softmode
Terminal=false
Path=/tmp
