#DANGER DANGER DANGER
#SOME KIND OF BLACK MAGIC REQUIRES
#THIS FILE TO BE CALLED terminal.desktop
#OR THE WHOLE MOTHERFUCKING MENU BREAKS
[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-terminal
Icon=utilities-terminal
StartupNotify=false
X-Enlightenment-WaitExit=false
Categories=X-Folders;
OnlyShowIn=XFCE
Name=Terminal
Comment=Terminal Emulator
Terminal=False
Path=/tmp
