[Desktop Entry]
Version=1.0
Type=Application
Exec=sudo /usr/sbin/toggle_hardened
Icon=changes-allow
StartupNotify=false
X-Enlightenment-WaitExit=false
Categories=X-Folders;
Name=toggle_hardened
Comment={En,Dis}able PaX softmode
