[Desktop Entry]
Name=Yersinia
GenericName=cli
Exec=/bin/sh -c "/usr/bin/launch '/usr/bin/yersinia' '-h' 'bash -l'"
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=exploit
Type=Application
Terminal=true
