[Desktop Entry]
Name=Yersinia
GenericName=cli
Exec=$P2TERM -e launch yersinia -h
StartupNotify=false
X-Enlightenment-WaitExit=false
Icon=/usr/share/genmenu/pixmaps/yersinia.png
Type=Application
